body {
    /* background-color: rgb(255, 254, 247); */
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    /* background-image: url("4teachers/bg.jpg"); */
    background: #faf0e6;
  }

a {
  font-weight: bold;
}

.h0 {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
}

table, th, td {
  border: 10px solid black;
  border-collapse: collapse;
  resize: both;
  overflow: auto;
}

p {
  max-width: 50%;
}


/* Button over image */
.container2 {
  position: relative;
  width: 50%;
}
.container2 img {
  width: 100%;
  height: auto;
  border: 10px solid;
}
.container2 .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #006894;
  color: white;
  font-size: 36px;
  padding: 20px 50px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  text-align: center;

  text-shadow: 1px 1px 0px #07526e;
  background-image: linear-gradient(bottom, rgb(14, 137, 182) 0%, rgb(22, 179, 236) 100%);
  box-shadow: inset 0px 0px 0px #2ab7ec, 0px 5px 0px 0px #07526e, 0px 10px 5px #000;
}
.container2 .btn:hover {
  background-color: #db8f00;
  text-shadow: 1px 1px 0px #000;
  background-image: linear-gradient(bottom, rgb(200, 137, 182) 0%, rgb(22, 179, 236) 100%);
  box-shadow: inset 0px 0px 0px #c45757, 0px 5px 0px 0px #c45757, 0px 10px 5px #000;

}