body {
    /* background-color: rgb(255, 254, 247); */
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
  }

  a {
    font-weight: bold;
  }

  .h0 {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
  }

  table, th, td {
    border: 10px solid black;
    border-collapse: collapse;
    resize: both;
    overflow: auto;
  }